cffi
contourpy
cycler
et-xmlfile
fonttools
Jinja2
kiwisolver
MarkupSafe
matplotlib
mip
numpy
openpyxl
packaging
pandas
Pillow
plotly
pycparser
pydantic
pyparsing
python-dateutil
pytz
six
tenacity
typing_extensions
tzdata