:root {
  --colour-1: #0c6e4a;
  --colour-2: #87CBAC;
  --colour-3: #90FFDC;
  --colour-4: #7389AE;
  --colour-5: #F2F2F2;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--colour-1);
  color: var(--colour-2);
  height: 100svh;
}

.app-container {
  color: var(--colour-1);
  background-color: var(--colour-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scheduler-app-container {
  color: var(--colour-1);
  background-color: var(--colour-5);
  border-radius: 15px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploader-container {
  border-width: 2px;
  border-color: var(--colour-4);
  border-style: solid;
  border-radius: 15px;
  margin: 10px 0px ;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  color: var(--colour-1);
  background-color: var(--colour-3);
  border: 1px solid var(--colour-1);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: var(--colour-2);
  background-color: var(--colour-1);
}

#generate-button {
  /* bigger */
  font-size: 1.5rem;
  margin: 10px 0px;
}


#generate-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#plus-button {
  border-width: 2px;
  border-color: var(--colour-4);
  border-style: solid;
  border-radius: 15px;
  margin: 10px 0px ;
  padding: 10px;
  width: 100%;
}

.button-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
